.main-search {
    display: flex;
    justify-content: space-between;
    width: 960px;
}

.secondary-frame {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.dashboard-info {
    display: flex;
}

.left-side {
    display: flex;
    height: 100%;
    flex-direction: column;
    border-left: 32px;
}

.right-side {
    display: flex;
    height: 100%;
    flex-direction: column;
    width: 352px;
}