.login-picture {
    display: flex;
    width: 50%;
    background: url('../img/scLoginImage.png') center center no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px 0 0 20px;
}

.login-info {
    width: 50%;
}

.login-access {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 130px;
    margin-right: 32px;
}

.sign-in-container {
    margin: 0 80px;
    margin-bottom: 200px;
}

.login-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;  
}

.pw-field {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.email-password {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-top: 48px;
    margin-bottom: 40px;
}

.input-field-text {
    margin-bottom: 12px;
}

.login-button {
    display: flex;
    justify-content: flex-end;
}

.login-button a{
    text-decoration: none;
}

.login-logo {
    color: white;
    font-weight: bold;
}