#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  font-weight: 300;
  font-size: 26px;
}

.font-black {
  color: #2e2e2e;
}

.font-gray {
  color: #CDCDCD;
}

.main-frame {
  display: flex;
  width: 80%;
  margin-top: 10%;
  margin-bottom: 10%;
  margin: auto;
  background-color: #F1F1F1;
  border-radius: 32px;

}

.frame {
  display: flex;
  justify-content: center;
  width: 80%;
  margin-top: 10%;
  margin-bottom: 10%;
  margin: auto;
  background-color: white;
  border-radius: 32px;
}


.button-black {
  background-color: #2e2e2e;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  font-family: Plus Jakarta Sans;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 24px;
  position: relative;
  user-select: none;
  vertical-align: middle;
  border: none;
  display: flex;
  align-items: center;
}

.button-green {
  background-color: #6EA33B;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  font-family: Plus Jakarta Sans;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 24px;
  position: relative;
  user-select: none;
  vertical-align: middle;
  border: none;
  display: flex;
  align-items: center;
}

input {
  width: 100%;
  box-sizing: border-box;
  border: 1.5px solid #CDCDCD ;
  border-radius: 4px;
  height: 40px;
}

.button-bordered {
  background-color: none;
  border: 1px solid #2e2e2e;
  border-radius: 8px;
  color: #2e2e2e;
  cursor: pointer;
  font-family: Plus Jakarta Sans;
  font-size: 12px;
  font-weight: bold;
  padding: 4px 12px;
  position: relative;
  user-select: none;
  vertical-align: middle;
  display: flex;
  align-items: center;
}