#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.top-bar {
  display: flex;
  width: 100%;
  margin: 30px 0px 32px 32px;
  justify-content: space-between;
  height: 40px;
  align-items: center;
}

h1 {
  font-weight: 300;
  font-size: 26px;
}

h2 {
  font-weight: 300;
  font-size: 20px;
  margin: 0.01px;
}

h3 {
  font-weight: bold;
  font-size: 16px;
  margin: 0.01px;
}

h4 {
  font-weight: 300;
  font-size: 16px;
  margin: 0.01px;
}

p {
  font-size: 14px;
  margin: 0.01px;
}

.p-gray {
  font-size: 12px;
  color: #949494;
  margin: 0.1px;
}

.p-small {
  font-size: 12px;
  margin: 0.01px;
}

tr th {
  font-size: 12px;
  color: #949494;
  font-weight: 300;
}

tbody {
  color: #2e2e2e;
  font-size: 12px;
}


.h2-white {
  font-weight: 300;
  font-size: 20px;
  margin: 0.1px;
  color: white;
}

.p-center {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  margin-bottom: 18px;
}

.font-black {
  color: #2e2e2e;
}

.font-gray {
  color: #CDCDCD;
}

.main-frame {
  display: flex;
  max-height: 750px;
  width: 1184px;
  margin-top: 10%;
  margin-bottom: 10%;
  margin: auto;
  background-color: #F1F1F1;
  border-radius: 32px;
  overflow: hidden;
}

.frame {
  display: flex;
  justify-content: center;
  width: 80%;
  margin-top: 10%;
  margin-bottom: 10%;
  margin: auto;
  background-color: white;
  border-radius: 32px;
}


.button-black {
  background-color: #2e2e2e;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  font-family: Plus Jakarta Sans;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 24px;
  position: relative;
  user-select: none;
  vertical-align: middle;
  border: none;
  display: flex;
  align-items: center;
}

.button-green {
  background-color: #6EA33B;
  border-radius: 8px;
  color: #ffffff;
  cursor: pointer;
  font-family: Plus Jakarta Sans;
  font-size: 12px;
  font-weight: bold;
  width: 150px;
  padding: 12px 24px;
  position: relative;
  user-select: none;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  justify-content: center; 
  align-items: center; 
  border: none;
}

input {
  width: 100%;
  box-sizing: border-box;
  border: 1.5px solid #CDCDCD ;
  border-radius: 4px;
  height: 40px;
}

.button-bordered {
  background-color: none;
  border: 1px solid #949494;
  border-radius: 8px;
  color: #949494;
  cursor: pointer;
  font-family: Plus Jakarta Sans;
  font-size: 12px;
  padding: 4px 12px;
  position: relative;
  user-select: none;
  vertical-align: middle;
  display: flex;
  height: 24px;
  background: none;
}

.button-black-bordered {
  background-color: none;
  border: 1px solid #949494;
  border-radius: 4px;
  color: #2e2e2e;
  cursor: pointer;
  font-family: Plus Jakarta Sans;
  font-size: 12px;
  padding: 4px 12px;
  position: relative;
  user-select: none;
  vertical-align: middle;
  display: flex;
  height: 24px;
  background: none;
  align-items: center;
}